<h1>Register a Flashcard Account!:</h1>
  <form action="/decks/users" method="post">
	<input type="text" name="user[name]" placeholder="Name">
	<input type="text" name="user[email]" placeholder="E-mail Address">
  <input type="password" name="user[password]" placeholder="Password"
  <br><br><br>
  <input type="submit" value="Create an account!" class="button">
  </form>


