<main class="question">
  <h1>
    <%= @cards %>
  </h1>

  <p>
  <form action="" method="get" view="hidden">
  	<input type="text" name="answer"><br>
  	<input type="button" value="check that shit!">
  </form>
  </p><br>

</main>