<h2>Maximum possible score: <%=@deck.cards.length%></h2>

<center>
	<div id=question-div>
	<h3>Question:</h3>
	<%=@card.question%>?
	<form action=<%="/decks/#{@deck.id}/cards/#{@card.id}"%> method="post">
	  <input type="text" name="user_answer">
	  <input type="submit" value="Answer">
	</form>
	
	
	<% if correct?(@user_answer) %>
	  <p>Correct!</p>
	<%else%>
	  <p>You're the worst!</p>
	<%end%>
	</div>
</center>
