<h2>Maximum possible score: <%=@deck.cards.length%></h2>
<p><%=@card.question%>?</p>

<form action=<%="/decks/#{@deck.id}/cards/#{@card.id}"%> method="post">
  <input type="text" name="user_answer">
  <input type="submit" value="Answer">
</form>
