  <center>
  <h1>Please Select Your Deck</h1>
  <% @decks.each do |deck| %>
    <li class="deck-list">
      <article>
        <h2>
        <a href="/decks/<%= deck.id %>"><font color="FF00CC"><%= deck.description %>
        <br>
      </font></a>
      </h2>
    </article>
    </li>
  <% end %>
</center>
