<style media="screen">
  .deck {
    color: pink !important;
    font-size: 20px !important;
  }
</style>
  <center>
  <h1>Please Select Your Deck</h1>
</center>

  <ul>
  <% @decks.each do |deck| %>
     <ul class="deck-list">
        <a class ="deck" href="/decks/<%= deck.id %>/cards/<%=deck.cards.first.id%>"> <%= deck.description %>
    </a>
  </ul>
    <% end %>
</ul>
